2.1
(What does this code do?) Create the variables x = 2 and y = 3, then determine what each of the following statements displays:

In [7]:
#creat the variables x, y

x =2 
y = 3

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
    
    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
print('x =', x)  #print x = 2

x = 2

In [9]:
print('Value of', x, '+', x, 'is', (x + x))  #print Value of 2 + 2 is 4

Value of 2 + 2 is 4

In [10]:
print('x =')

x =

In [11]:
print((x + y), '=', (y + x))

5 = 5

2.2
(What’s wrong with this code?) The following code should read an integer into the
variable rating: 
    rating = input('Enter an integer rating between 1 and 10')

In [12]:
#our goal： read an integer
#input should be a int and then let rating = int(what you typing)

rating = int(input('Enter an integer rating between 1 and 10'))

Enter an integer rating between 1 and 104

2.3(Fill in the missing code) Replace *** in the following code with a statement that
will print a message like 'Congratulations! Your grade of 91 earns you an A in this
course'. Your statement should print the value stored in the variable grade:
if grade >= 90:
 ***

In [13]:
grade = int(input("please typing your grade: ")) #first creat your grade let user input their grade

if grade >= 90:  #Determine if the value stored in grade is greater or equal then 90
    print('Congratulations! Your grade of',grade,'earns you an A in this course')
else:            #Judgment of less than 90 points
    print('Unfortunately! Your score was',grade,',you didn\'t earn A')

please typing your grade: 89
Unfortunately! Your score was 89 ,you didn't earn A

2.4
(Arithmetic) For each of the arithmetic operators +, -, *, /, // and *^*, 
display the value of an expression with 27.5 as the left operand and 2 as the right operand.

In [14]:
27.5 + 2

29.5

In [15]:
27.5 - 2

25.5

In [16]:
27.5 * 2

55.0

In [17]:
27.5 / 2

13.75

In [18]:
27.5 // 2

13.0

In [19]:
27.5 ** 2

756.25

2.5
(Circle Area, Diameter and Circumference) For a circle of radius 2, display the diameter, circumference and area. Use the value 3.14159 for π. Use the following formulas
(r is the radius): diameter = 2r, circumference = 2πr and area = πr2. [In a later chapter, we’ll introduce Python’s math module which contains a higher-precision representation of π.]

In [20]:
pi = 3.14159 #first creat pi as π equal to 3.14159

r = int(input("please type the r of circle: "))

#By math we can know the function of diameter = 2r  circumference = 2πr  area = πr**2
diameter = 2*r  
circumference = 2*pi*r  
area = pi*r**2

print("diameter =",diameter,"circumference =",circumference,"area =",area)

please type the r of circle: 2
diameter = 4 circumference = 12.56636 area = 12.56636

2.6
(Odd or Even) Use if statements to determine whether an integer is odd or even.
[Hint: Use the remainder operator. An even number is a multiple of 2. Any multiple of 2
leaves a remainder of 0 when divided by 2.]

In [21]:
#our goal: determine whether an integer is odd or even.
#we can use % to acheive it
#when a number A is odd we can know A % 2 is equal to 1, if A is even A % 2 is not equal to 0
    #get a number from user
    #if answer is 1 it's odd ,and if answer is 0 it's even, we use else because the result of a number % is 0 or 1
    
number = int(input("Please enter the number: ")) #get a number from user

if number % 2 == 1:
    
    print(number,"is odd.") #if answer is 1 it's odd  
    
else:
    
    print(number,"is even.")

Please enter the number: 45858588
45858588 is even.

2.7 
(Multiples) Use if statements to determine whether 1024 is a multiple of 4 and
whether 2 is a multiple of 10. (Hint: Use the remainder operator.)

**I wasn't quite sure if I needed to get the value, so I wrote two methods**

In [22]:
#methods 1

number = int(input()) #first creat number let user input their number

if number % 4 == 0:   #Determine if it is divisible by 4
    print(number,"is a multiple of 4")
else:
    print(number,"isn't a multiple of 4")
if number % 10 == 0:  #Determine if it is divisible by 10
    print(number,"is a multiple of 10")
else:
    print(number,"isn't a multiple of 10")

1024
1024 is a multiple of 4
1024 isn't a multiple of 10

In [24]:
#methods 2
if 1024 % 4 == 0:
    print("1024 is a multiple of 4")
if 2 % 10 == 0:
    print(number,"is a multiple of 10")
else:
    print(number,"isn't a multiple of 10")

1024 is a multiple of 4
1024 isn't a multiple of 10

2.8
(Table of Squares and Cubes) Write a script that calculates the squares and cubes
of the numbers from 0 to 5. Print the resulting values in table format, as shown below. Use
the tab escape sequence to achieve the three-column output.

In [32]:
#method 1
print("number\t square\t cube") #print number square cube
for i in range(0,6):
    print(i,"\t",i**2,"\t",i**3)  #use for loop creat a list and begin 0 to5

number	 square	 cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125

In [36]:
#method 2
num = 0
num1 = 1
num2 = 2
num3 = 3
num4 = 4
num5 = 5
#creat 0-5

print(f'number\tsquare\tcube\n{num}\t{num ** 2}\t{num ** 3}\n{num1}\t{num1 ** 2}\t{num1 ** 3}\n{num2}\t{num2 ** 2}\
\t{num2 ** 3}\n{num3}\t{num3 ** 2}\t{num3 ** 3}\n{num4}\t{num4 ** 2}\t{num4 ** 3}\n{num5}\t{num5 ** 2}\t{num5 ** 3}')
# print

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [35]:
#method 2.5
num = 0
num1 = 1
num2 = 2
num3 = 3
num4 = 4
num5 = 5
#creat 0-5

print ('number\tsquare\tcube',"\n",num,"\t",num ** 2,"\t",num ** 3,"\t","\n",num1,"\t",num1 ** 2,
       "\t",num1 ** 3,"\t","\n",num2,"\t",num2 ** 2,"\t",num2 ** 3,"\t","\n",num3,"\t",num3 ** 2,
       "\t",num3 ** 3,"\t","\n",num4,"\t",num4 ** 2,"\t",num4 ** 3,"\t","\n",num5,"\t",num5 ** 2,
       "\t",num5 ** 3, sep = '')
# print

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [30]:
#method 3
print("number\tsquare\tcube") #print number square cube
for i in range(6):
    square = i**2
    cube = i**3
    print(f"{i}\t{square}\t{cube}") #use for loop creat a list and begin 0 to5  #use f to let then become str

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

The next chapter shows how to “right align” numbers. You could try that as an extra challenge here. The output would be:

In [37]:
print("number\tsquare\tcube") #print number square cube
for i in range(6):
    print(f"{i:>6}\t{i**2:>6}\t{i**3:>4}") #{ :x} x means move step

number	square	cube
     0	     0	   0
     1	     1	   1
     2	     4	   8
     3	     9	  27
     4	    16	  64
     5	    25	 125